<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Wearther.Wearther</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.370786959623-1fkjveidkpsqohjr8tag0ssggdlou98a</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>370786959623-1fkjveidkpsqohjr8tag0ssggdlou98a.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>投稿する写真を選択するために写真ライブラリへのアクセスが必要です。</string>
	<key>NSCameraUsageDescription</key>
	<string>コーディネート写真を撮影するためにカメラへのアクセスが必要です。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在地の天気情報を取得するために位置情報へのアクセスが必要です。</string>
</dict>
</plist>
